{
  "report-dir": "coverage",
  "reporter": ["text", "json", "lcov", "html"],
  "exclude": [
    "**/*.spec.ts",
    "**/*.spec.tsx",
    "**/*.test.ts",
    "**/*.test.tsx",
    "cypress/**/*",
    ".next/**/*",
    "node_modules/**/*",
    "coverage/**/*",
    "**/*.config.ts",
    "**/*.config.js",
    "**/*.config.mjs"
  ],
  "all": true,
  "check-coverage": false,
  "extension": [
    ".ts",
    ".tsx",
    ".js",
    ".jsx"
  ]
}
